
snippet problem "my starting snippet for algorithmic contests"
#include <cstdio>${4}
#define infile "${5:`!p snip.rv = snip.basename or "name"`}.in"
#define outfile "${6:$5}.out"
${3}
using namespace std;
${2}
int main() {
    freopen(infile, "r", stdin);
    freopen(outfile, "w", stdout);

    ${1}

    fclose(stdin);
    fclose(stdout);
    return 0;
}
endsnippet
