snippet name "Inteligent class name and namespace" b
<?php

namespace ${4:`!v substitute(substitute(substitute(expand("%:p"), '\v(.*\/\l+)((\/\u\w+)+)\/\u\w+.php$', '\2', ''), '\/', '\\', 'g'), '\\', '', '')`};

class ${2:`!v Filename('', 'myClass')`} ${3}
{
    ${1}
}
endsnippet

snippet vd "Var dump function"
var_dump(${1});${2}
endsnippet
